.advantages {
  padding: 20px;
}

.advantages__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 42px;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
}

.advantages__item:not(:last-child) {
  padding-bottom: 26px;
}

.advantages__description {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-left: 80px;
}
