@button-color: #68B738;

.button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @button-color;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: hsla(0, 0%, 100%, 0.308)
  }
}
