// .checkboxes .form__list {
//   @media (min-width: @desktop-width) {
//     li:first-child {
//       padding-right: 104px;
//     }

//     li:nth-child(2) {
//       padding-right: 136px;
//     }

//     li:nth-child(3) {
//       padding-right: 197px;
//     }
//   }
// }

.checkboxes__label {
  padding-left: 46px;

  @media (min-width: @tablet-width) {
    padding: 0 0 0 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.checkboxes__input + .checkboxes__label {
  position: relative;
}

.checkboxes__input + .checkboxes__label::before {
  content: "";
  width: 30px;
  height: 30px;
  outline: 1px solid #cdcdcd;
  position: absolute;
  background-color: @white;
  top: -6px;
  left: 1px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    outline: 1px solid #cdcdcd;
    top: -4px;
  }
}

.checkboxes__input:hover + .checkboxes__label::before {
  outline: 1px solid #bababa;
}

.checkboxes__input:checked:disabled + .checkboxes__label::before {
  outline: 1px solid #a8a8a8;
  opacity: 30%;
}

.checkboxes__input:disabled + .checkboxes__label {
  opacity: 30%;
}

.checkboxes__input:checked + .checkboxes__label::before {
  background-image: url("../img/checkox-checked.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/checkox-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 18px;
  }
}

.checkboxes__input:focus + .checkboxes__label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  outline: 1px solid #8d8d8d;
}
