.examples {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}

.examples__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;
}

.examples__description {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 20px;
}

.examples__spent-amount {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .examples {
    background-color: #eaeaea;
    padding: 43px 30px 101px;
  }

  .examples__stats-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .examples__spent-amount {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  .examples__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }

  .examples__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 54px;
  }

  .examples__img {
    width: 560px;
    height: 512px;
    padding: 99px auto 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .examples {
    padding: 25px 110px 40px;
    display: flex;
  }

  .examples__stats-wrapper {
    display: block;
    align-items: center;
  }

  .examples__spent-amount {
    width: auto;
    text-align: start;
  }
}
