.form {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.form__title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 110px;
  }
}

.form__description {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0 70px 59px;
    font-size: 20px;
    line-height: 30px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px 66px;
    width: 1440px;
  }
}

.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  label {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
  }

  li {
    display: flex;
    align-items: center;
  }

  @media (min-width: @tablet-width) {
    label {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
// FIRST SECTION
.form__field-group--pet {
  padding-bottom: 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #ebebeb;
    height: 1px;
    width: 768px;
    bottom: 0;
    left: -50%;
  }

  li:not(:last-child) {
    padding-bottom: 14px;
  }

  @media (min-width: @tablet-width) {
    padding: 4px 0 72px 0;

    &::before {
      content: none;
    }

    li:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    li:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

.form__pet-label {
  padding-right: 13px;

  &--mid-long {
    width: 86px;
  }

  &--long {
    width: 166px;
  }

  @media (min-width: @tablet-width) {
    &--mid-long {
      width: 88px;
    }

    &--long {
      width: 159px;
    }
  }

  @media (min-width: @desktop-width) {
    &--mid-long {
      width: 90px;
    }
  }
}

.form__pet-input {
  box-sizing: border-box;
  height: 45px;
  padding: 15px 20px 13px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
  outline: 1px solid #e7e7e7;
  border: none;
  width: 100%;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  @media (min-width: @tablet-width) {
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: @desktop-width) {
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
  }
}

input[type='number'] {
    -moz-appearance: textfield;
}

// .form__pet-input::-webkit-outer-spin-button,
// .form__pet-input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
// }

.form__field-group--radios {
  padding: 28px 0 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #ebebeb;
    height: 1px;
    width: 768px;
    bottom: 0;
    left: -50%;
  }

  @media (min-width: @tablet-width) {
    padding: 0 0 49px 0;

    &::before {
      content: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__title--email-tel {
  max-width: 190px;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: 1000%;
    top: 35%;
    left: calc(100% + 14px);
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: 500%;
    top: 35%;
    right: calc(100% + 39px);
  }

  @media (min-width: @tablet-width) {
    max-width: unset;

    &::after {
      left: calc(100% + 42px);
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      left: calc(100% + 40px);
    }
  }
}

.form__field-group--email-tel {
  padding-bottom: 23px;

  .form__title {
    padding: 26px 0 35px;
  }

  li:not(:last-child) {
    padding-bottom: 14px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 65px;

    .form__title {
      padding: 26px 0 76px;
    }

    li:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 47px;

    .form__title {
      padding: 26px 0 76px;
    }

    .form__list {
      display: grid;
      grid-template-columns: 570px 570px;
      column-gap: 78px;
      align-items: center;
    }

    li {
      padding-bottom: 20px;
    }
  }
}

.form__mail-label {
  width: 67px;

  @media (min-width: @tablet-width) {
    width: 75px;
  }

  @media (min-width: @desktop-width) {
    width: 76px;
  }
}

.form__mail-label,
.form__tel-label {
  padding-right: 20px;
}

.form__mail-input {
  background-image: url("../img/email-stroke.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 93% 50%;

  @media (min-width: @tablet-width) {
    background-position: 97% 48%;
  }
}

.form__tel-input {
  background-image: url("../img/phone-stroke.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 92% 50%;

  @media (min-width: @tablet-width) {
    background-position: 97% 48%;
  }
}

.form__mail-input,
.form__tel-input {
  box-sizing: border-box;
  height: 45px;
  padding: 14px 50px 13px 15px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
  border: none;
  outline: 1px solid #e7e7e7;
  width: 100%;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    height: 52px;
    padding: 11px 50px 11px 20px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__title--comment {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: 1000%;
    top: 20%;
    left: calc(100% + 22px);
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: 500%;
    top: 20%;
    right: calc(100% + 39px);
  }


  @media (min-width: @tablet-width) {
    &::after {
      left: calc(100% + 38px);
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      left: calc(100% + 40px);
    }
  }
}

.form__field-group--comment {
  padding-bottom: 22px;

  .form__title {
    padding-bottom: 37px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 60px;

    .form__title {
      padding-bottom: 76px;
    }
  }
}

.form__textarea {
  box-sizing: border-box;
  padding: 9px 15px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
  border: none;
  outline: 1px solid rgba(231, 231, 231, 1);
  width: 100%;
  height: 150px;
  resize: none;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }


  @media (min-width: @tablet-width) {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #e7e7e7;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #e7e7e7;
    height: 174px;
  }
}

.form__title--checkboxes {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: 1000%;
    top: 20%;
    left: calc(100% + 23px);
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: 500%;
    top: 20%;
    right: calc(100% + 39px);
  }

  @media (min-width: @tablet-width) {
    &::after {
      left: calc(100% + 41px);
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      left: calc(100% + 40px);
    }
  }
}

.form__field-group--checkboxes {
  padding-bottom: 54px;

  .form__title {
    padding-bottom: 40px;
  }

  li:not(:last-child) {
    padding-bottom: 25px;
  }

  @media (min-width: @tablet-width) {
    .form__title {
      padding-bottom: 62px;
    }

    .form__list {
      display: grid;
      grid-template-columns: 221px 221px;
      column-gap: 123px;
      row-gap: 42px;
    }

    li:not(:last-child) {
      padding-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 65px;

    .form__title {
      padding-bottom: 62px;
    }

    .form__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      column-gap: unset;
    }

    li:not(:last-child) {
      padding: 0;
    }
  }
}

.form__submit-button {
  width: 280px;
  padding: 7px 44px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    padding: 13px 45px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 64px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    width: 568px;
    height: 52px;
    padding: 13px 188px;
    margin-right: 84px;
  }
}

.form__required-mark {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 21px 0 36px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.form__list-wrapper {
  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 30px 28px;
  }

  @media (min-width: @desktop-width) {
    border: 1px solid #e7e7e7;
    padding: 30px 28px;
  }
}

.form__reqired-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    padding-bottom: 78px;
    align-items: center;

    p {
      font-size: 16px;
      line-height: 16px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding-bottom: 90px;

    p {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
