.form {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
}

.form__title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form__description {
  margin: 0;
  padding: 0 20px 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form__list li {
  display: flex;
  align-items: center;
}

.form__list label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
// FIRST SECTION
.form__field-group--pet {
  padding-bottom: 24px;
}

.form__field-group--pet li:not(:last-child) {
  padding-bottom: 14px;
}

.form__pet-label {
  padding-right: 13px;
}

.form__pet-input {
  box-sizing: border-box;
  height: 45px;
  padding: 14px 20px 13px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
  border: 1px solid rgba(231, 231, 231, 1);
  width: 100%;
}

// .form__pet-input::-webkit-outer-spin-button,
// .form__pet-input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
// }

.form__field-group--radios {
  padding: 28px 0 25px;
}

.form__title--email-tel {
  max-width: 190px;
  position: relative;
}

.form__title--email-tel::before {
  content: "";
  background-image: url("../img/title_line.png");
  height: 2px;
  width: 300px;
  position: absolute;
  top: 40px;
  left: 205px;
}

.form__field-group--email-tel {
  padding-bottom: 23px;
}

.form__field-group--email-tel .form__title {
  padding: 26px 0 35px;
}

.form__field-group--email-tel li:not(:last-child) {
  padding-bottom: 14px;
}

.form__mail-label {
  width: 67px;
}

.form__mail-label,
.form__tel-label {
  padding-right: 10px;
}

.form__mail-input,
.form__tel-input {
  box-sizing: border-box;
  height: 45px;
  padding: 14px 15px 13px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
  border: 1px solid rgba(231, 231, 231, 1);
  width: 100%;
}

.form__title--comment {
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/title_line.png");
    height: 2px;
    width: 300px;
    position: absolute;
    top: 15px;
    left: 140px;
  }
}

.form__field-group--comment {
  padding-bottom: 22px;
}

.form__field-group--comment .form__title {
  padding-bottom: 37px;
}

.form__textarea {
  box-sizing: border-box;
  padding: 9px 15px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  text-transform: uppercase;
  border: 1px solid rgba(231, 231, 231, 1);
  width: 100%;
  height: 150px;
  resize: none;
}

.form__title--checkboxes {
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/title_line.png");
    height: 2px;
    width: 300px;
    position: absolute;
    top: 15px;
    left: 160px;
  }
}

.form__field-group--checkboxes {
  padding-bottom: 40px;
}

.form__field-group--checkboxes .form__title {
  padding-bottom: 40px;
}

.form__field-group--checkboxes li:not(:last-child) {
  padding-bottom: 25px;
}

.form__submit-button {
  width: 280px;
  padding: 7px 44px;
  font-size: 16px;
  line-height: 20px;
}

.form__required-mark {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 21px 0 32px;
  text-align: center;
}


@media (min-width: @tablet-width) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 76px;
  }

  .form__description {
    padding: 0 70px 66px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  .form__list label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__pet-input {
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
  }

  .form__field-group--pet li:not(:last-child) {
    padding-bottom: 20px;
  }

  .form__field-group--pet {
    padding: 0 0 72px 0;
  }

  .form__list--wrapper {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }

  .form__field-group--radios {
    padding: 0 0 49px 0;
  }

  .form__field-group--email-tel .form__title {
    padding: 26px 0 76px;
  }

  .form__field-group--email-tel {
    padding-bottom: 76px;
  }

  .form__mail-label {
    width: 75px;
  }

  .form__mail-input,
  .form__tel-input {
    box-sizing: border-box;
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #cdcdcd;
  }

  .form__field-group--email-tel li:not(:last-child) {
    padding-bottom: 20px;
  }

  .form__field-group--comment {
    padding-bottom: 76px;
  }

  .form__field-group--comment .form__title {
    padding-bottom: 76px;
  }

  .form__textarea {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #e7e7e7;
    height: 174px;
  }

  .form__field-group--checkboxes .form__title {
    padding-bottom: 62px;
  }

  .form__field-group--checkboxes .form__list {
    display: grid;
    grid-template-columns: 221px 221px;
    column-gap: 123px;
    row-gap: 42px;
  }

  .form__field-group--checkboxes li:not(:last-child) {
    padding-bottom: 0;
  }

  .form__submit-button {
    width: 282px;
    height: 52px;
    padding: 13px 45px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 64px;
  }

  .form__reqired-wrapper {
    display: flex;
    padding-bottom: 72px;
  }

  .form__reqired-wrapper p {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form__title {
    padding-bottom: 110px;
  }

  .form__description {
    padding: 0 110px 66px;
    width: 323px;
  }

  .form__pet-input {
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
  }

  .form__field-group--pet li:not(:last-child) {
    padding-bottom: 20px;
  }

  .form__field-group--pet {
    padding: 0;
  }

  .form__list--wrapper {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }

  .form__field-group--radios {
    padding: 0;
  }

  .form__field-group--email-tel .form__title {
    padding: 26px 0 76px;
  }

  .form__field-group--email-tel {
    padding-bottom: 76px;
  }

  .form__mail-label {
    width: 75px;
  }

  .form__mail-input,
  .form__tel-input {
    box-sizing: border-box;
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #cdcdcd;
  }

  .form__field-group--email-tel li:not(:last-child) {
    padding-bottom: 20px;
  }

  .form__field-group--comment {
    padding-bottom: 76px;
  }

  .form__field-group--comment .form__title {
    padding-bottom: 76px;
  }

  .form__textarea {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #e7e7e7;
    height: 174px;
  }

  .form__field-group--checkboxes .form__title {
    padding-bottom: 62px;
  }

  .form__submit-button {
    font-size: 20px;
    line-height: 20px;
    width: 568px;
    height: 52px;
    padding: 13px 188px;
    margin-right: 84px;
  }

  .form__reqired-wrapper {
    display: flex;
    padding-bottom: 72px;
  }

  .form__reqired-wrapper p {
    font-size: 16px;
    line-height: 16px;
  }

  .form__field-group--email-tel .form__list {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 78px;
    align-items: center;
  }

  .form__field-group--email-tel li:first-child {
    padding: 0;
  }

  .form__field-group--checkboxes .form__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form__field-group--checkboxes li:not(:last-child) {
    padding: 0;
  }

  .form__field-group--checkboxes {
    padding-bottom: 61px;
  }
}
