.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 13px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 30px 62px 30px;
    width: 768px;
    margin: 0 auto;
    justify-content: unset;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 110px 32px;
    width: 1440px;
    justify-content: space-between;
  }
}

.header__nav-toogle {
  background: transparent;
  border: none;
  width: 25px;
  height: 20px;
  padding: 0;
  padding-top: 3px;
  background-image: url("../img/burger-menu-mob.svg");
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__nav-toogle--active {
  background: transparent;
  border: none;
  width: 25px;
  height: 20px;
  padding: 0;
  padding-top: 3px;
  background-image: url("../img/close-menu--mob.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__logo-img {
  @media (min-width: @tablet-width) {
    padding-right: 94px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;

    &:hover {
      opacity: 80%;
    }

    &:active {
      opacity: 65%;
    }
  }
}
