.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 15px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
}

.header__nav-toogle {
  background: transparent;
  border: none;
  width: 25px;
  height: 20px;
  padding: 0;
  padding-top: 3px;
  background-image: url("../img/burger-menu-mob.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__nav-toogle--active {
  background: transparent;
  border: none;
  width: 25px;
  height: 20px;
  padding: 0;
  padding-top: 3px;
  background-image: url("../img/close-menu--mob.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .header {
    padding: 24px 30px 45px 30px;
    justify-content: unset;
    border: none;
  }

  .header__nav-toogle {
    display: none;
  }

  .header__logo-text {
    padding-left: 12px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding: 53px 110px 73px;
  }

  .header__logo-img {
    height: 60px;
    width: 60px;
  }

  .header__logo-text {
    height: 60px;
    width: 125px;
    padding-left: 14px;
  }
}
