.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 15px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
}

.header__nav-toogle {
  background: transparent;
  border: none;
  padding: 0;
  padding-top: 3px;
}
