.main-nav {
  display: none;
  position: fixed;
  left: 0;
  justify-content: center;
  width: 320px;
  background-color: @white;
  top: 65px;
  border-top: 1px solid #E6E6E6;
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  padding: 22px 0 24px 0;
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
