.page-footer {
  background-color: #f2f2f2;
  margin-top: -5px;
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.page-footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 58px 30px 55px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 110px 58px;
  }
}

.page-footer__item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-footer__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.page-footer__item:first-child {
  display: flex;
  justify-content: center;
  padding: 39px 76px 32px;
  align-items: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 146px 0 0;
    justify-content: flex-start;
  }
}

.page-footer__item:not(:first-child):not(:last-child) {
  padding: 20px 70px 21px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    padding: 0 133px 0 0;
  }
}

.page-footer__item:last-child {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px 0;

  @media (min-width: @tablet-width) {
    width: unset;
    // display: flex;
    justify-content: unset;
    padding: 0;

    .page-footer__link {
      padding-right: 23px;
    }
  }
}

.page-footer__link {
  text-decoration: none;
  padding: 0;

  &:first-child {
    &:hover {
      opacity: 80%;
    }

    &:active {
      opacity: 50%;
    }
  }
}

.page-footer__item:not(:first-child):not(:last-child) .page-footer__link:not(:last-child) {
  flex-wrap: nowrap;
  padding-right: 26px;
}

.page-footer__item:last-child .page-footer__link {
  text-decoration: none;
  color: #000000;
  padding-right: auto;

  @media (min-width: @tablet-width) {
    width: 113px;
    padding-right: 27px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__logo-text {
    width: 128px;
    height: 24px;
  }
}

.page-footer__link-hmtlac {
  &:hover {
    color: #444444;
  }

  &:active {
    color: #444444;
    opacity: 30%;
  }
}

.page-footer__link-academy {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 30%;
  }
}

.page-footer__link-social {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 30%;
  }
}
