.page__body {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @mobile-width-only) {
}

@media (min-width: @tablet-width) {
  .page__body {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page__body {
    width: 1440px;
  }
}
