.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;

  @media (min-width: 320px) {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 auto 0 auto;
    list-style-type: none;
  }

  @media (min-width: @tablet-width) {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(3, min-content);
    column-gap: 60px;
    row-gap: 141px;
    padding-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 140px 80px;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // padding-bottom: 75px;
  }
}

.products__card {
  box-sizing: border-box;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 19px 0 25px;
  // border-top: 1px solid #ebebeb;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #ebebeb;
    height: 1px;
    width: 768px;
    top: 0;
    left: -50%;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    // height: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 0 37px 39px;
    margin: 0;

    &::before {
      content: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    display: flex;
    flex-direction: column;
    padding: 0 38px 40px 39px;
    background-color: #f2f2f2;
  }
}

.products__img {
  padding: 24px 34px 15px;
  object-fit: contain;
  object-position: center;

  @media (min-width: @tablet-width) {
    align-self: center;
    grid-area: img;
    margin: -45px 0 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.products__img--large {
  padding: 11px 28px 14px;

  @media (min-width: @tablet-width) {
    margin: -72px 0 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.products__descritpion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.products__title {
  width: 80px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 34px 0 21px 0;
    text-align: center;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
  }
}

.products__options {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 140px;

  td:last-child {
    text-align: right;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    width: 252px;
    font-size: 16px;
    line-height: 16px;

    td {
      padding: 7px 0;
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: @desktop-width) {
    width: 170px;
  }
}

.products__order-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 93px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 53px;
  }
}

.products__card--extra {
  padding: 78px 0 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #ebebeb;
    height: 1px;
    width: 768px;
    top: 226px;
    left: -50%;
  }

  p {
    padding-bottom: 21px;
    font-family: "Lato Regular", sans-serif;
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #f2f2f2;
    background-color: @white;

    &::after {
      content: none;
    }

    p {
      width: 165px;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 87px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.products__title-extra {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 8px;
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/catalog_show-more-plus.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -55px;
    left: 45%;
  }

  @media (min-width: @tablet-width) {
    padding: 161px 0 23px 0;
    font-size: 20px;
    line-height: 22px;
    width: 134px;

    &::before {
      content: "";
      background-image: url("../img/catalog_show-more-plus.svg");
      background-repeat: no-repeat;
      background-size: 60px 60px;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 50px;
      left: 35%;
    }
  }
}

.products__more-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 94px;
  background-color: #f2f2f2;
  color: #000000;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: hsla(0, 0%, 0%, 0.31);
  }

  @media (min-width: @tablet-width) {
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 70px;
    width: 248px;
    background-color: #f2f2f2;
    color: #000000;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
    width: auto;
    margin-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {
  .products__stats {
    width: 180px;
  }
}
