.products__list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
}

.products__card {
  display: flex;
  flex-wrap: wrap;
  padding: 19px 0 25px;
}

.products__img {
  padding: 24px 34px 15px;
}

.products__img--large {
  padding: 11px 28px 15px;
}

.products__descritpion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.products__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 58px;
}

.products__stats p:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}

.products__title {
  width: 80px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 14px;
}

.products__card p {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.products__order-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}

.products__more-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 94px;
  background-color: #f2f2f2;
  color: #000000;
}

.products__card--extra {
  padding: 78px 0 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.products__title--extra {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 8px;
}

.products__card--extra p {
  padding-bottom: 21px;
}
