.programs {
  padding: 20px;
}

.programs__wrapper {
  background-color: #f2f2f2;
  padding: 30px 19px 22px 19px;
}

.programs__wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.programs__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  padding-left: 72px;
  padding-bottom: 29px;
}

.programs__description {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 42px;
}

.programs__catalog-link {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}
