.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 34px;

  @media (min-width: @desktop-width) {
    padding-bottom: 60px;
    justify-content: flex-start;
  }
}

.stats__wrapper {
  border: 1px solid #cdcdcd;
  position: relative;
  width: 124px;

  @media (min-width: @tablet-width) {
    &:first-child {
      margin-right: 42px;
    }
  }
}

.stats__number {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 14px 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 162px;
    margin: 0;
  }
}

.stats__text {
  margin: 0;
  color: #444444;
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;
  position: absolute;
  width: 60px;
  bottom: -14px;
  left: 35px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}
