@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff");
  src: url("../fonts/lato/Lato-Regular.woff2");
}
@font-face {
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff");
  src: url("../fonts/oswald/oswaldregular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff");
  src: url("../fonts/oswald/oswaldmedium.woff2");
  font-display: swap;
}
.page__body {
  background-color: #ffffff;
  margin: 0;
}
@media (min-width: 767px) {
  .page__body {
    margin: 0 auto 0 auto;
  }
}
@media (min-width: 768px) {
  .page__body {
    margin: 0 auto 0 auto;
  }
}
@media (min-width: 1440px) {
  .page__body {
    margin: 0 auto 0 auto;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 15px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
}
.header__nav-toogle {
  background: transparent;
  border: none;
  padding: 0;
  padding-top: 3px;
}
@media (min-width: 768px) {
  .header {
    padding: 24px 30px 45px 30px;
    justify-content: unset;
    border: none;
  }
  .header__nav-toogle {
    display: none;
  }
  .header__logo-text {
    padding-left: 12px;
  }
  .main-nav__link--current {
    position: relative;
  }
  .main-nav__link--current::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    bottom: -10px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 53px 110px 73px;
  }
  .header__logo-img {
    height: 60px;
    width: 60px;
  }
  .header__logo-text {
    height: 60px;
    width: 125px;
    padding-left: 14px;
  }
}
.main-nav {
  display: none;
  position: fixed;
  left: 0;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  top: 65px;
  border-top: 1px solid #e6e6e6;
}
.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-nav__item {
  padding: 22px 0 24px 0;
  text-align: center;
}
.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .main-nav {
    position: relative;
    display: unset;
    border: none;
    top: 0;
  }
  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    padding-left: 94px;
  }
  .main-nav__item {
    padding: 0;
    padding-right: 35px;
  }
  .main-nav__item:last-child {
    padding: 0;
  }
  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .main-nav__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.partnership__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: #f2f2f2;
}
.partnership__title {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-right: 2px;
  width: 100%;
  text-transform: uppercase;
}
.partnership__adress {
  margin: 0;
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
.partnership__adress-img {
  background-color: #7a7a7a;
  width: 100%;
}
@media (min-width: 768px) {
  .partnership__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 40px 56px;
    background-color: #f2f2f2;
  }
  .partnership__title {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }
  .partnership__adress {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .partnership {
    position: relative;
  }
  .partnership__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 60px 80px 56px;
  }
  .partnership__title {
    padding-right: 87px;
  }
  .partnership__adress {
    width: 102px;
    text-align: start;
  }
}
.page-footer {
  background-color: #f2f2f2;
  margin-top: -5px;
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.page-footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.page-footer__item:first-child {
  padding: 39px 76px 32px;
}
.page-footer__item:not(:first-child):not(:last-child) {
  padding: 20px 70px 21px;
}
.page-footer__item:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.page-footer__link {
  text-decoration: none;
  padding: 0;
}
.page-footer__item:not(:first-child):not(:last-child) .page-footer__link:not(:last-child) {
  flex-wrap: nowrap;
  padding-right: 26px;
}
.page-footer__item:last-child .page-footer__link {
  text-decoration: none;
  color: #000000;
  padding-right: 141px;
}
@media (min-width: 768px) {
  .page-footer__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 58px 30px 55px;
    margin: 0;
  }
  .page-footer__item:first-child {
    padding: 0 155px 0 0;
  }
  .page-footer__item:not(:first-child):not(:last-child) {
    padding: 0 133px 0 0;
  }
  .page-footer__item:last-child {
    display: flex;
    justify-content: unset;
    padding: 0;
  }
  .page-footer__item:last-child .page-footer__link {
    padding-right: 23px;
  }
  .page-footer__logo-text {
    width: 128px;
    height: 24px;
  }
}
@media (min-width: 1440px) {
  .page-footer__list {
    padding: 57px 110px 58px;
  }
}
.button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68B738;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  border: none;
}
@media (min-width: 768px) {
  .catalog {
    padding: 0 30px;
  }
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 10px 0 82px 0;
  }
}
@media (min-width: 1440px) {
  .catalog {
    padding: 0 110px;
  }
}
.radios li:not(:last-child) {
  padding-bottom: 25px;
}
.radios__input {
  display: none;
}
.radios__label {
  padding-left: 45px;
}
.radios__input + .radios__label {
  position: relative;
}
.radios__input + .radios__label::before {
  content: "";
  width: 30px;
  height: 30px;
  outline: 1px solid #cdcdcd;
  border-radius: 50%;
  position: absolute;
  background: #ffffff;
  bottom: -5px;
  left: 1px;
}
.radios__input + .radios__label::after {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  background-color: #68b738;
  left: 9px;
  bottom: 3px;
  opacity: 0;
}
.radios__input:checked + .radios__label::after {
  opacity: 1;
}
@media (min-width: 768px) {
  .radios li:not(:last-child) {
    padding-bottom: 30px;
  }
  .radios__label {
    font-size: 20px;
    line-height: 21px;
    padding-left: 60px;
  }
  .radios__input + .radios__label::before {
    width: 40px;
    height: 40px;
    bottom: -10px;
    left: 3px;
  }
  .radios__input + .radios__label::after {
    width: 18px;
    height: 18px;
    left: 14px;
    bottom: 1px;
  }
}
.checkboxes__input {
  display: none;
}
.checkboxes__label {
  padding-left: 46px;
}
.checkboxes__input + .checkboxes__label {
  position: relative;
}
.checkboxes__input + .checkboxes__label::before {
  content: "";
  width: 30px;
  height: 30px;
  outline: 1px solid #cdcdcd;
  position: absolute;
  background-color: #ffffff;
  top: -6px;
  left: 1px;
}
.checkboxes__input:checked + .checkboxes__label::before {
  background-image: url("../img/checkox-checked.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .checkboxes__label {
    padding: 0 0 0 60px;
    font-size: 20px;
    line-height: 30px;
  }
  .checkboxes__input + .checkboxes__label::before {
    width: 40px;
    height: 40px;
    outline: 1px solid #cdcdcd;
    top: -4px;
  }
  .checkboxes__input:checked + .checkboxes__label::before {
    background-image: url("../img/checkox-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 18px;
  }
}
.intro {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/intro-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #5f5f5f;
  font-family: "Oswald Regular", sans-serif;
  text-align: center;
}
.intro__title {
  font-size: 38px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 25px;
  color: #ffffff;
}
.intro__description {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-bottom: 29px;
}
.intro__button {
  margin: 0 20px;
  padding: 7px 44px;
}
@media (min-width: 768px) {
  .intro {
    position: relative;
    background-image: none;
    background-color: #ffffff;
    font-family: "Oswald Regular", sans-serif;
    text-align: start;
    padding: 0 30px;
  }
  .intro__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    padding: 27px 0 41px 87px;
    width: 425px;
    color: #000000;
  }
  .intro__description {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding: 0 0 20px 87px;
  }
  .intro__img {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
  }
  .intro__button {
    position: absolute;
    box-sizing: border-box;
    text-decoration: none;
    top: 255px;
    width: 244px;
    margin: 0 0 0 90px;
    padding: 14px 26px 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .intro {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 110px;
  }
  .intro__title {
    padding: 0 0 40px 80px;
  }
  .intro__description {
    padding: 0 0 0 80px;
  }
  .intro__img {
    width: 552px;
    height: 499px;
    margin: 0;
    z-index: 0;
  }
  .intro__button {
    margin: 0 0 0 80px;
  }
}
.programs {
  padding: 20px;
}
.programs__wrapper {
  background-color: #f2f2f2;
  padding: 30px 19px 22px 19px;
}
.programs__wrapper:first-child {
  margin-bottom: 20px;
}
.programs__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  padding-left: 72px;
  padding-bottom: 29px;
  text-transform: uppercase;
}
.programs__description {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 42px;
}
.programs__catalog-link {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programs {
    padding: 30px;
  }
  .programs__wrapper {
    background-color: #f2f2f2;
    padding: 77px 316px 57px 52px;
  }
  .programs__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 24px 0;
  }
  .programs__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 52px;
  }
  .programs__catalog-link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .programs {
    padding: 82px 110px 72px;
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
  .programs__wrapper {
    padding: 77px 61px 59px 52px;
  }
  .programs__wrapper:first-child {
    margin-bottom: 0;
  }
  .programs__title {
    padding: 0 0 73px 162px;
  }
}
.advantages {
  padding: 20px;
}
.advantages__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 42px;
}
.advantages__list {
  list-style-type: none;
  padding: 0;
}
.advantages__item:not(:last-child) {
  padding-bottom: 26px;
}
.advantages__description {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-left: 80px;
}
@media (min-width: 768px) {
  .advantages {
    padding: 30px;
  }
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 32px;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 0 110px 68px;
  }
  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .advantages__item {
    padding: 151px 0 57px 0;
  }
}
.examples {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}
.examples__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;
}
.examples__description {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 20px;
}
.examples__spent-amount {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .examples {
    background-color: #eaeaea;
    padding: 43px 30px 101px;
  }
  .examples__stats-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .examples__spent-amount {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }
  .examples__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }
  .examples__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 54px;
  }
  .examples__img {
    width: 560px;
    height: 512px;
    padding: 99px auto 0 auto;
  }
}
@media (min-width: 1440px) {
  .examples {
    padding: 25px 110px 40px;
    display: flex;
  }
  .examples__stats-wrapper {
    display: block;
    align-items: center;
  }
  .examples__spent-amount {
    width: auto;
    text-align: start;
  }
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 34px;
}
.stats__wrapper {
  border: 1px solid #cdcdcd;
  position: relative;
  width: 124px;
}
.stats__number {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 14px 21px;
}
.stats__text {
  margin: 0;
  color: #444444;
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;
  position: absolute;
  width: 60px;
  bottom: -14px;
  left: 35px;
}
@media (min-width: 768px) {
  .stats__wrapper:first-child {
    margin-right: 42px;
  }
  .stats__number {
    font-size: 30px;
    line-height: 37px;
  }
  .stats__text {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 1440px) {
  .stats {
    padding-bottom: 60px;
    justify-content: flex-start;
  }
  .stats__number {
    box-sizing: border-box;
    width: 162px;
    margin: 0;
  }
}
.form {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
}
.form__title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
.form__description {
  margin: 0;
  padding: 0 20px 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.form__list li {
  display: flex;
  align-items: center;
}
.form__list label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
.form__field-group--pet {
  padding-bottom: 24px;
}
.form__field-group--pet li:not(:last-child) {
  padding-bottom: 14px;
}
.form__pet-label {
  padding-right: 13px;
}
.form__pet-input {
  box-sizing: border-box;
  height: 45px;
  padding: 14px 20px 13px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;
}
.form__field-group--radios {
  padding: 28px 0 25px;
}
.form__field-group--email-tel {
  padding-bottom: 23px;
}
.form__field-group--email-tel .form__title {
  padding: 26px 0 35px;
}
.form__field-group--email-tel li:not(:last-child) {
  padding-bottom: 14px;
}
.form__mail-label {
  width: 67px;
}
.form__mail-label,
.form__tel-label {
  padding-right: 10px;
}
.form__mail-input,
.form__tel-input {
  box-sizing: border-box;
  height: 45px;
  padding: 14px 15px 13px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;
}
.form__field-group--comment {
  padding-bottom: 22px;
}
.form__field-group--comment .form__title {
  padding-bottom: 37px;
}
.form__textarea {
  box-sizing: border-box;
  padding: 9px 15px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;
  height: 150px;
  resize: none;
}
.form__field-group--checkboxes {
  padding-bottom: 40px;
}
.form__field-group--checkboxes .form__title {
  padding-bottom: 40px;
}
.form__field-group--checkboxes li:not(:last-child) {
  padding-bottom: 25px;
}
.form__submit-button {
  width: 280px;
  padding: 7px 44px;
  font-size: 16px;
  line-height: 20px;
}
.form__required-mark {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 21px 0 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 76px;
  }
  .form__description {
    padding: 0 70px 66px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
  .form__list label {
    font-size: 20px;
    line-height: 30px;
  }
  .form__pet-input {
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
  }
  .form__field-group--pet li:not(:last-child) {
    padding-bottom: 20px;
  }
  .form__field-group--pet {
    padding: 0 0 72px 0;
  }
  .form__list--wrapper {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }
  .form__field-group--radios {
    padding: 0 0 49px 0;
  }
  .form__field-group--email-tel .form__title {
    padding: 26px 0 76px;
  }
  .form__field-group--email-tel {
    padding-bottom: 76px;
  }
  .form__mail-label {
    width: 75px;
  }
  .form__mail-input,
  .form__tel-input {
    box-sizing: border-box;
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #cdcdcd;
  }
  .form__field-group--email-tel li:not(:last-child) {
    padding-bottom: 20px;
  }
  .form__field-group--comment {
    padding-bottom: 76px;
  }
  .form__field-group--comment .form__title {
    padding-bottom: 76px;
  }
  .form__textarea {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #e7e7e7;
    height: 174px;
  }
  .form__field-group--checkboxes .form__title {
    padding-bottom: 62px;
  }
  .form__field-group--checkboxes .form__list {
    display: grid;
    grid-template-columns: 221px 221px;
    column-gap: 123px;
    row-gap: 32px;
  }
  .form__submit-button {
    width: 282px;
    height: 52px;
    padding: 13px 45px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 64px;
  }
  .form__reqired-wrapper {
    display: flex;
    padding-bottom: 72px;
  }
  .form__reqired-wrapper p {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1440px) {
  .form__title {
    padding-bottom: 110px;
  }
  .form__description {
    padding: 0 110px 66px;
    width: 323px;
  }
  .form__pet-input {
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
  }
  .form__field-group--pet li:not(:last-child) {
    padding-bottom: 20px;
  }
  .form__field-group--pet {
    padding: 0;
  }
  .form__list--wrapper {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }
  .form__field-group--radios {
    padding: 0;
  }
  .form__field-group--email-tel .form__title {
    padding: 26px 0 76px;
  }
  .form__field-group--email-tel {
    padding-bottom: 76px;
  }
  .form__mail-label {
    width: 75px;
  }
  .form__mail-input,
  .form__tel-input {
    box-sizing: border-box;
    height: 52px;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #cdcdcd;
  }
  .form__field-group--email-tel li:not(:last-child) {
    padding-bottom: 20px;
  }
  .form__field-group--comment {
    padding-bottom: 76px;
  }
  .form__field-group--comment .form__title {
    padding-bottom: 76px;
  }
  .form__textarea {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #e7e7e7;
    height: 174px;
  }
  .form__field-group--checkboxes .form__title {
    padding-bottom: 62px;
  }
  .form__submit-button {
    font-size: 20px;
    line-height: 20px;
    width: 568px;
    height: 52px;
    padding: 13px 188px;
    margin-right: 84px;
  }
  .form__reqired-wrapper {
    display: flex;
    padding-bottom: 72px;
  }
  .form__reqired-wrapper p {
    font-size: 16px;
    line-height: 16px;
  }
  .form__field-group--email-tel .form__list {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 78px;
    align-items: center;
  }
  .form__field-group--email-tel li:first-child {
    padding: 0;
  }
  .form__field-group--checkboxes .form__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .form__field-group--checkboxes li:not(:last-child) {
    padding: 0;
  }
  .form__field-group--checkboxes {
    padding-bottom: 61px;
  }
}
.form-page__title {
  margin: 0;
  padding: 27px 20px 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form-page__title {
    padding: 20px 69px 54px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .form-page {
    margin: 0 auto 0 auto;
  }
  .form-page__title {
    padding: 20px 110px 56px;
  }
}
.program-form {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .program-form {
    padding: 0 67px 0 71px;
  }
}
@media (min-width: 1440px) {
  .program-form {
    padding: 0 110px;
  }
  .program-form__wrapper {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    padding-bottom: 43px;
  }
}
.catalog {
  padding: 0 20px;
}
.catalog__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 41px;
}
@media (min-width: 768px) {
  .catalog {
    padding: 0 30px;
  }
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 10px 0 82px 0;
  }
}
@media (min-width: 1440px) {
  .catalog {
    padding: 0 110px;
  }
  .catalog__wrapper {
    display: flex;
  }
}
.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.products__card {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  padding: 19px 0 25px;
}
.products__img {
  padding: 24px 34px 15px;
}
.products__img--large {
  padding: 11px 28px 15px;
}
.products__descritpion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.products__title {
  width: 80px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 14px;
}
.products__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 58px;
}
.products__stats p:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}
.products__card p {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
.products__order-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}
.products__card--extra {
  padding: 78px 0 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.products__title-extra {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 8px;
}
.products__card--extra p {
  padding-bottom: 21px;
}
.products__more-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 94px;
  background-color: #f2f2f2;
  color: #000000;
}
@media (min-width: 320px) {
  .products__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 auto 0 auto;
    list-style-type: none;
  }
}
@media (min-width: 768px) {
  .products__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 325px 325px;
    gap: 60px;
    padding-bottom: 68px;
  }
  .products__card {
    box-sizing: border-box;
    width: 325px;
    display: flex;
    flex-direction: column;
    padding: 0 38px 38px 38px;
    background-color: #f2f2f2;
  }
  .products__title {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 21px 0;
    text-align: center;
    align-self: center;
  }
  .products__stats {
    display: grid;
    width: 252px;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    padding-bottom: 42px;
  }
  .products__stats p {
    font-size: 16px;
    line-height: 16px;
  }
  .products__order-button {
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 93px;
  }
  .products__card--extra {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #f2f2f2;
    background-color: #ffffff;
  }
  .products__title-extra {
    padding: 161px 0 23px 0;
    font-size: 20px;
    line-height: 22px;
    width: 134px;
  }
  .products__card--extra p {
    width: 165px;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 87px;
  }
  .products__more-button {
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 70px;
    width: 248px;
    background-color: #f2f2f2;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .products__list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    gap: 80px;
    padding-bottom: 75px;
  }
  .products__card {
    box-sizing: border-box;
    width: 245px;
    display: flex;
    flex-direction: column;
    padding: 0 30px 40px 35px;
    background-color: #f2f2f2;
  }
  .products__img {
    padding: 0;
    width: 161px;
  }
  .products__stats {
    width: 180px;
  }
  .products__order-button {
    width: auto;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 53px;
  }
  .products__more-button {
    padding: 10px 39px;
    width: auto;
  }
}
.products-extra__main-title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 25px 0 36px;
}
.products-extra__card {
  padding: 13px 0 19px 0;
}
.products-extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.products-extra__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 13px;
  margin: 0;
  text-transform: uppercase;
}
.products-extra__description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.products-extra__card p {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
.products-extra__order-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}
@media (min-width: 320px) {
  .products-extra__list {
    padding: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .products-extra__main-title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 37px 80px;
  }
  .products-extra__list {
    margin: 0;
    padding: 0;
  }
  .products-extra__card {
    box-sizing: border-box;
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 37px 28px 37px;
  }
  .products-extra__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .products-extra__title {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 25px;
  }
  .products-extra__description {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }
  .products-extra__description p:first-child {
    padding-right: 49px;
  }
  .products-extra__card p {
    font-size: 16px;
    line-height: 20px;
  }
  .products-extra__order-button {
    width: 632px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 109px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .products-extra {
    padding-bottom: 86px;
  }
  .products-extra__wrapper--desktop {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
  }
  .products-extra__list {
    margin: 0;
    padding: 0;
    display: block;
  }
  .products-extra__description {
    padding-bottom: 0;
    padding-right: 40px;
  }
  .products-extra__title {
    padding-bottom: 0;
  }
  .products-extra__main-title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 81px;
  }
  .products-extra__card {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 17px 0;
  }
  .products-extra__wrapper {
    display: flex;
  }
  .products-extra__order-button {
    width: 244px;
    padding: 10px 26px;
  }
}
.promotion {
  padding: 35px 0;
}
.promotion__block {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.9), rgba(104, 183, 56, 0.9)), url("../img/promotion_bg_img.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #5f5f5f;
  padding: 186px 61px 43px 58px;
}
.promotion__description {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promotion {
    padding: 69px 0 76px 0;
  }
  .promotion__block {
    background-size: 100%;
    background-position: center 60%;
    height: 200px;
    position: relative;
    padding: 0;
  }
  .promotion__description {
    width: 161px;
    position: absolute;
    top: 71px;
    right: 124px;
  }
}
@media (min-width: 1440px) {
  .promotion {
    padding: 0;
  }
  .promotion__block {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.9), rgba(104, 183, 56, 0.9)), url("../img/promotion_bg_img.jpg");
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    background-color: #5f5f5f;
    padding: 0;
    height: auto;
  }
  .promotion__description {
    width: 161px;
    position: unset;
    top: 0;
    right: 0;
    padding: 185px 43px 42px 41px;
  }
}
/*# sourceMappingURL=style.css.map */
